body{
	padding: 0;
}
.img{
	align-items: center;
	display: flex;
	justify-content: center;
	width: 95%;
	height: 95%;
}
.img:focus{
	outline: 0;
}
.img:hover{
	padding: 10px;
}

.parrafo{
	align-items: center;
}